# RPC
NEXT_PUBLIC_ALCHEMY_ID=

# IPFS GATEWAY
NEXT_PUBLIC_GATEWAY_URL=
NEXT_PUBLIC_GATEWAY_TOKEN=

# PINNING SERVICE
PINATA_JWT=

# WALLET CONNECT
NEXT_PUBLIC_WC_PROJECT_ID=

# ETHERSCAN
ETHERSCAN_API_KEY=
OPSCAN_API_KEY=
POLYGONSCAN_API_KEY=
GNOSISSCAN_API_KEY=
ARBISCAN_API_KEY=
BASESCAN_API_KEY=
CELOSCAN_API_KEY=

# SUBGRAPH KEY
NEXT_PUBLIC_SUBGRAPH_NETWORK_KEY=
