# ###########################################
# #########         CLIENT         ##########
# ###########################################

# RPC & WALLET CONNECT
# NEXT_PUBLIC_ALCHEMY_ID="<ALCHEMY_ID>"
NEXT_PUBLIC_WC_PROJECT_ID="<WALLET_CONNECT_PROJECT_ID>"

# IPFS GATEWAY - pull ipfs data from a dedicated gateway
NEXT_PUBLIC_GATEWAY_URL="<IPFS_GATEWAY_URL>"
NEXT_PUBLIC_GATEWAY_TOKEN="<IPFS_GATEWAY_TOKEN>"

# SUBGRAPH KEY - pull data directly from the graph network
NEXT_PUBLIC_SUBGRAPH_NETWORK_KEY="<SUBGRAPH_NETWORK_KEY>"

# HATS MESH API - wrapper around the subgraphs
NEXT_PUBLIC_MESH_API="<HATS_MESH_API_URL--WITHOUT '/graphql'>"

# ###########################################
# #########         SERVER         ##########
# ###########################################

# PINNING SERVICE -- pin Hat details and images. not used in claims app
PINATA_JWT="<PINATA_JWT>"

# ETHERSCAN -- API lookup contract name & metadata
ETHERSCAN_API_KEY="<ETHERSCAN_API_KEY>"
OPSCAN_API_KEY="<OPTIMISTIC_ETHERSCAN_API_KEY>"
POLYGONSCAN_API_KEY="<POLYGONSCAN_API_KEY>"
GNOSISSCAN_API_KEY="<GNOSISSCAN_API_KEY>"
ARBISCAN_API_KEY="<ARBISCAN_API_KEY>"
BASESCAN_API_KEY="<BASESCAN_API_KEY>"
CELOSCAN_API_KEY="<CELOSCAN_API_KEY>"

# PRIVY
NEXT_PUBLIC_PRIVY_APP_ID="<PRIVY_APP_ID>"

# COUNCILS
NEXT_PUBLIC_COUNCILS_GRAPHQL_ENDPOINT="<COUNCILS_GRAPHQL_ENDPOINT>"

# TENDERLY SIMULATIONS
TENDERLY_ACCOUNT_SLUG="<TENDERLY_ACCOUNT_SLUG>"
TENDERLY_PROJECT_SLUG="<TENDERLY_PROJECT_SLUG>"
TENDERLY_ACCESS_TOKEN="<TENDERLY_ACCESS_TOKEN>"

# EMAIL
CUSTOMERIO_API_KEY="<CUSTOMER_API_KEY>"

# TELEGRAM
ALERTS_TELEGRAM_CHAT_ID="<ALERTS_TELEGRAM_CHAT_ID>"
ALERTS_TELEGRAM_BOT_TOKEN="<ALERTS_TELEGRAM_BOT_TOKEN>"
