# ###########################################
# #########         CLIENT         ##########
# ###########################################

# RPC
NEXT_PUBLIC_ALCHEMY_ID="<ALCHEMY_ID>"

# WALLET CONNECT
NEXT_PUBLIC_WC_PROJECT_ID="<WALLET_CONNECT_PROJECT_ID>"

# IPFS GATEWAY
NEXT_PUBLIC_GATEWAY_URL="<IPFS_GATEWAY_URL>"
NEXT_PUBLIC_GATEWAY_TOKEN="<IPFS_GATEWAY_TOKEN>"

# SUBGRAPH KEY
NEXT_PUBLIC_SUBGRAPH_NETWORK_KEY="<SUBGRAPH_NETWORK_KEY>"

# ###########################################
# #########         SERVER         ##########
# ###########################################

# PINNING SERVICE
PINATA_JWT="<PINATA_JWT>"

# ETHERSCAN
ETHERSCAN_API_KEY="<ETHERSCAN_API_KEY>"
OPSCAN_API_KEY="<OPTIMISTIC_ETHERSCAN_API_KEY>"
POLYGONSCAN_API_KEY="<POLYGONSCAN_API_KEY>"
GNOSISSCAN_API_KEY="<GNOSISSCAN_API_KEY>"
ARBISCAN_API_KEY="<ARBISCAN_API_KEY>"
BASESCAN_API_KEY="<BASESCAN_API_KEY>"
CELOSCAN_API_KEY="<CELOSCAN_API_KEY>"

# HATS API
NEXT_PUBLIC_MESH_API="<NEXT_PUBLIC_HATS_API>"
