# ANALYTICS
NEXT_PUBLIC_RUDDER_WRITE_KEY="<RUDDER_WRITE_KEY>"
NEXT_PUBLIC_RUDDER_DATA_PLANE_URL="<RUDDER_DATA_PLANE_URL>"
# POSTHOG -- SEPARATELY FOR FEATURE FLAGS AND SESSION RECORDINGS
NEXT_PUBLIC_POSTHOG_KEY="<POSTHOG_KEY>"

# INTERCOM SUPPORT
NEXT_PUBLIC_INTERCOM_APP_ID="<INTERCOM_APP_ID>"
