.dotted-link {
  stroke-dasharray: 5, 5;
  /* change these values to adjust the length and spacing of the dots */
  stroke-dashoffset: 0;
  /* this sets the starting point of the dashed line */
  stroke: black;
  /* this sets the color of the line */
}

.markdown .small-font {
  font-size: 14px;
}

.markdown-content h1 {
  font-size: 2rem;
}

.markdown-content h2 {
  font-size: 1.5rem;
}

.markdown-content h3 {
  font-size: 1.25rem;
}

.markdown-content p {
  margin: 0.7rem 0;
}

.markdown-content li {
  margin-left: 1rem;
}

.markdown-content a {
  color: #3182ce;
  text-decoration: underline;
  font-style: italic;
}
