.button1 {
  color: black;
  border-radius: 10px;
  margin-bottom: 4px;
  margin-top: 4px;
  background-color: rgb(202, 211, 214);
}

.button1:hover {
  color: black;
  border-radius: 10px;
  margin-bottom: 4px;
  margin-top: 4px;
  background-color: rgb(225, 233, 236);
}

.dashed {
  stroke-dasharray: 4;
}
